.list-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.page-switchers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10cqh;
  padding-bottom: 2rem;
}
