h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f4b185;
  color: #fcf0de;
  -webkit-text-stroke: 1px hsl(24, 81%, 67%);
  border: 1px hsl(24, 81%, 67%);
  border-radius: 8px;
  gap: 2rem;
}
